// Place your apps css here

.conversation {
  form{
    input{
    margin: 10px 0 5px 0;
    }
  }
}

.contact {
  width: 100%;
  padding: 5px;
  margin: 4px 0;
  font-size: 15px;
  cursor: pointer;
  &:hover{
    background-color: #FAFAFA;
  }
  &.active{
    background-color: #337ab7;
    color: #FFF;
  }
  .badge{
    background-color: #900;
  }
}

.message{
  max-width: 80%;
  padding: 10px 15px;
  margin: 5px 0;
  background-color: #FEFEFE;
  border: 1px solid #E7E7E7;
  border-radius: 5px;
  float: left;
  clear: both;
  &.sent{
    background-color: #E4F3DB;
    border: 1px solid #B7D0A7;
    float: right;
  }
  p{
  margin:0;
  }
}

.remove{
  color: orange;
}