<:Title>
  Home

<:Body>
  <h1>Home</h1>
  {{ if Volt.user }}
    <div class="row">

      <div class="col-md-4">
        {{ _users.each do |user| }}
          {{ if user._id != Volt.user._id }}
            <div class="contact {{ if params._user_id == user._id }} active {{ end }}"
                 e-click="select_conversation(user)">
              {{ user._name }}
                <a class="remove" href="/"><span class="glyphicon glyphicon-remove pull-right"></span></a>
              {{ if unread_notifications_from(user).count > 0 }}
                <span class="badge">
                  {{ unread_notifications_from(user).count }}
                </span>
              {{ end }}
            </div>
          {{ end }}
        {{ end }}
      </div>

      {{ if params._user_id }}
        <div class ="col-md-8 well conversation">
          {{ current_conversation.each do |message| }}
            <div class="message {{ if message._sender_id == Volt.user._id }} sent {{ end }}">
              <p> {{ message._text }}</p>
            </div>
          {{ end }}
        </div>
      {{ end }}

      {{ if current_conversation.count == 0 }}
        <p> You have no messages at this time.  Start chatting! </p>
      {{ else }}
        <div class="clearfix"></div>
      {{ end }}

      <form e-submit="send_message" role="form">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Write a message" value="{{ page._new_message }}" />
          <button type="submit" class="btn btn-primary pull-right">Submit</button>
        </div>
      </form>
    </div>
    {{ else }}
      <p>This is a sample chat application built with Volt to demonstrate its real-time capibilities. Please log in to access it.</p>
    {{ end }}
